<div id="job" *ngIf="job">
  <header data-detail-page-header class="bx--detail-page-header bx--detail-page-header--no-tabs">
    <div class="bx--detail-page-header-content">
      <div class="bx--breadcrumb">
        <div class="bx--breadcrumb-item">
          <a href="#" class="bx--link" routerLink="/">
            Jobs
          </a>
        </div>
        <div class="bx--breadcrumb-item">
          Job Details
        </div>
      </div>
      <div class="bx--detail-page-header-title-container">
        <!--<div class="bx--detail-page-header-icon-container">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <path fill="#D8D8D8" d="M0 0h24v24H0z" fill-rule="evenodd" />
          </svg>
        </div>-->
        <h1 class="bx--detail-page-header-title">{{ job.value.title }}</h1>

        <div class="bx--detail-page-header-status-container">
          <div class="bx--detail-page-header-status-icon"></div>
          <span class="bx--detail-page-header-status-text">
            {{ job.value.status }}
          </span>
        </div>
      </div>
    </div>
  </header>
  
  <div class="bx--module bx--module--double">
    <div class="bx--module__inner">
      <div class="bx--module__header">
        <h1 class="bx--module__title">Job Details</h1>
      </div>
      <div class="bx--module__content">
        <img [src]="job.value.photo" style="max-width: 500px; max-height: 300px; border-radius: 3px;">

        <!-- Job Details - START -->
        <section class="bx--structured-list">
          <div class="bx--structured-list-tbody">
            <div class="bx--structured-list-row">
              <div class="bx--structured-list-td bx--structured-list-content--nowrap">
                Description
              </div>

              <div class="bx--structured-list-td">
                {{ job.value.description }}
              </div>
            </div>

            <div class="bx--structured-list-row">
              <div class="bx--structured-list-td bx--structured-list-content--nowrap">
                Location
              </div>

              <div class="bx--structured-list-td">
                {{ job.value.location }}
              </div>
            </div>

            <div class="bx--structured-list-row">
              <div class="bx--structured-list-td bx--structured-list-content--nowrap">
                Asset
              </div>

              <div class="bx--structured-list-td">
                {{ job.value.asset }}
              </div>
            </div>

            <div class="bx--structured-list-row" *ngIf="job.value.start">
              <div class="bx--structured-list-td bx--structured-list-content--nowrap">
                Start Date & Time
              </div>

              <div class="bx--structured-list-td">
                {{ job.value.start * 1000 | date: 'medium' }}
              </div>
            </div>
          </div>
        </section>
        <!-- Job Details - END -->
      </div>
    </div>
  </div>
</div>

<div data-notification class="bx--inline-notification bx--inline-notification--error" role="alert" *ngIf="(online | async) === false">
  <div class="bx--inline-notification__details">
    <svg class="bx--inline-notification__icon" width="16" height="16" viewBox="0 0 16 16" fill-rule="evenodd">
      <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM5.1 13.3L3.5 12 11 2.6l1.5 1.2-7.4 9.5z"></path>
    </svg>
    <div class="bx--inline-notification__text-wrapper">
      <p class="bx--inline-notification__title">Offline Version:</p>
      <p class="bx--inline-notification__subtitle">Content here might be outdated, be sure to connect soon</p>
    </div>
  </div>
  <button data-notification-btn class="bx--inline-notification__close-button" type="button">
    <svg class="bx--inline-notification__close-icon" aria-label="close" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
      <path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z"></path>
    </svg>
  </button>
</div>
