article.bx--card {
    float: left;
    margin-right: 30px;
    position: relative;

    figure {
        &.bx--about__icon {
            width: 2.125rem;
            height: 2.125rem;
            padding: 15px 0;
            margin: 0;
            background: #f0f3f6;
            color: #7b8992;
            border: none;
        }
    }

    header {
        &.bx--about__title {
            padding-top: 12px;
        }
    }

    div {
        &.bx--card-overview__about {
            padding-top: 0;
        }

        &.stop {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(256, 256, 256, 0.95);
            z-index: 2;

            div {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                p {
                    font-size: 15px;
                }

                button {
                    display: block;
                    margin: auto;
                    margin-bottom: 10px;
                }
            }
        }
    }

    h3 {
        font-weight: 700;
    }

    p {
        margin: 10px 0;
        font-size: 13px;

        &.left {
            text-align: left;
        }

        b {
            font-weight: bold;
        }
    }
}